.contact header{
    background-image: url('/img/header.jpg');
    background-size: cover;
    background-position: top;
    color:#B9915B;
    padding-top: 200px;
}
header h2{
    color:#B9915B;
    font-weight: medium;
}
h2.no-line{
    color:#B9915B;
}
h2.no-line::before{
    content:'';
    display: none;
}
input.form-control, textarea.form-control {
    border: 0;
    outline: 0;
    border: 0.2px solid #B1B1B1;
    border-radius: 0px;
    padding-bottom: 0.5rem;
    font-weight: 300;
    font-size: 14px;
    margin: 0.2em 0;
    background-color: transparent;
}
input.form-control:focus, textarea.form-control:focus{
    border: 0.2px solid #B9915B;
    box-shadow: 0 0 0 0.2rem rgba(185,145,91,.25);
    background-color: transparent;
}
input.form-control::placeholder, textarea.form-control::placeholder{
    color:#B1B1B1;
}
label {
    color: #707070;
}
small.copy{
    font-size: 12px;
    display: block;
    padding: 0;
}
.left-col .copy{
    padding:0;
}
.btn{
    float: l;
    padding: .5rem 2rem;
}
.btn:hover{
    color:white;
}
form .col-md-6, form .col-md-12{
    margin-bottom: 0.5em;
}
#submit, #send {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    background: #B9915B;
    border: 2px solid #1ECD97;
    color: #1ECD97;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    border-radius: 0px;
    color: white;
    border-color: #B9915B;
}
#submit:hover, #send:hover {
    color: white;
    background: #1ECD97;
    background: white;
    color: #B9915B;
  }
		#submit:active, #send:active {
            letter-spacing: 2px;
		}
		#submit:after, #send:after {
            content: "SUBMIT";
		}

		#submit.onclick, #send.onclick {
            width: 40px;
            background: white;
            border-color: #bbbbbb;
            border-width: 3px;
            font-size: 0;
            border-left-color: #1ECD97;
            -webkit-animation: rotating 2s 0.25s linear infinite;
            animation: rotating 2s 0.25s linear infinite;
            border-left-color: #B9915B;
            border-radius: 40px;
    }
		#submit.onclick:after, #send.onclick:after {
            content: "";
		}
		#submit.onclick:hover, #send.onclick:hover {
            color: #1ECD97;
		background: white;
    }
    
    #submit.done, #send.done {
        font-size: 13px;
		color: white;
		background: #1ECD97;
    }
    #submit.done:after, #send.done:after {
        font-family: 'FontAwesome';
		content: "Success!";
    }
    
    #submit.fail, #send.fail {
        font-size: 13px;
		color: white;
		background: #cd1e2d;
    }
    #submit.fail:after, #send.fail:after {
        font-family: 'FontAwesome';
		content: "Please Retry";
    }
    
    @-webkit-keyframes rotating {
        from {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
		}
		to {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
		}
    }
    
    @keyframes rotating {
        from {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
		}
		to {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
		}
    }
    
    @media screen and (max-width:700px) {
        label{
            text-align: left;
        }
        .btn{
            float:center;
        }
        
    }			