.htaccess
robots.txt

#pull link https://chi-bnode1.websitehostserver.net:2083/cpsess5685576172/frontend/paper_lantern/version_control/index.html?login=1&post_login=567742520646#/manage/%252Fhome%252Flasource%252Fpublic_html%252Fcapitalsavvy.pro%252Fdev/deploy