.htaccess
robots.txt
contactform/env.php

#pull link https://capitalsavvy.pro:2083/cpsess2403066553/frontend/paper_lantern/version_control/index.html#/manage/%252Fhome%252Flasource%252Fpublic_html%252Fcapitalsavvy.pro/deploy